.dashboard-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.overview-container {
  display: flex; 
  gap: 0; 
  justify-content: flex-start; 
  align-items: stretch; 
  margin-bottom: 1.5rem; 
}

.sidebar {
  width: 220px;
  background-color: #232637;
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.achievement-header img {
  height: 50px;
}

.sidebar-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-item {
  margin: 15px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s;
}

.sidebar-item:hover {
  background-color: #333;
}

.sidebar-icon {
  margin-right: 10px;
  color: #fff;
}

/* Main Content Styling */
.main-content {
  flex-grow: 2;
  padding: 10px;
  background-color: #f4f5f7;
  overflow-y: auto;
}

/* Dashboard Cards */
.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.dashboard-card {
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s;
}

.dashboard-card:hover {
  transform: translateY(-5px);
}

.chart-cards-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;            
}

.chart-card1 {
  width: 68%;                  
  padding: 20px;                  
  box-shadow: 0 3px 7px rgba(0, 1, 1, 0.1);
  background-color: #fff;        
  border-radius: 8px;   
  height: 410px;          
}

.chart-card {
  width: 38%;                     
  padding: 30px;                  /* Adds padding inside the card */
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  background-color: #fff;        
  border-radius: 8px;  
  height: 410px;          
}

/* Styling for the monthly overview container */
.monthly-overview {
  flex: 3; 
  min-width: 80%;
  max-width: 400%;
  padding: 20px;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  justify-content: center;
  border-radius: 8px;
  margin: 0 auto; /* Center the monthly-overview card */
}

/* Dashboard cards in a grid */
.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* Cards in the dashboard */
.dashboard-card {
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s;
}

.dashboard-card:hover {
  transform: translateY(-5px);
}

.card-data {
  font-size: 2rem;
  font-weight: bold;
  color: #2c0753;
  margin: 10px 0;
}

.card-button {
  margin-top: 10px;
  background-color: #6475b1;
  color: #fff;
  font-weight: bold;
}

.card-button:hover {
  background-color: #6475b1;
}
