.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #dddada;
  }
  
  
  .video-thumbnail {
    position: relative;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .video-player {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }
  
  .video-title {
    font-size: 1rem;
    padding: 10px;
    color: #333;
    font-weight: bold;
  }

  .shoemiddle{
    display: flex;
    gap: 0px;
    bottom: 0px;
  }

  .shoebanner img{
    height: 500px;
    width: 740px;
  }

  .imgcontainer{
    margin-top: 550px;
    margin-left: -270px;
    margin-bottom:0px ;

  }

  .imgcontainer img{
    width: 1518px;
    height: auto;
  }

  .offer-container {
    margin-top: -50px;
    position: relative;
    width: 1518px;
    height: 50px; /* Adjust the height of the offer banner */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple; /* Choose a background color for the offer */
    color: rgba(238, 238, 238, 0.955);
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
  }
  
  .offer-text {
    white-space: nowrap;
    animation: moveOfferText 10s linear infinite;
  }
  
  @keyframes moveOfferText {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  